

.request-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 3%;
}

.request-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.request-form input[type="text"],
.request-form textarea,
.request-form input[type="file"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.request-form button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgb(0, 110, 255);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.request-table th,
.request-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.request-table th {
  background-color: #e0e7ff;
}

.request-table button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}







/* 
.dashboard {
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #5f79a4;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
} */

.main {
  flex: 1;
  padding: 30px;
}

form input, form textarea {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
  text-align: center;
}

.status-unchecked {
  color: red;
}

.status-checked {
  color: green;
}

button {
  padding: 5px 10px;
  margin: 5px;
}


.file-display {
  font-weight: bold;
  color: #4f46e5;
}

.container2 {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 30px;
  margin-top: 6%;
  margin-right: 2%;
}

.main-content h1 {
  font-size: 28px;
}







/* -----------------lessons Style + Sidebar style------------------- */



body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
}

.dashboard {
  display: flex;
  height: 100vh;
  
}

.sidebar {
  background: #5882b4;
  color: white;
  padding: 20px;
  width: 210px;
  height: 60%;
  border-radius: 10%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 10%;
  margin-right: 2%;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 30%;
}

.sidebar .sidebarLine {
  width: 100%;
  height: 1%;
  background-color: white;
  margin-top: -15%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 13% 0;
  cursor: pointer;
  border: 5px solid transparent; /* جا برای border رزرو شده */
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar li:hover {
  background-color: whitesmoke;
  border-radius: 10%;
  color: #5882b4;
}

.sidebar li:hover a {
  color: #5882b4;
}

/* -------- Main Content -------- */

.main-content {
  flex: 1;
  padding: 30px 40px;
  overflow-y: auto;
}

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.course-card {
  background-color: rgba(83, 153, 199, 0.411);
  padding: 25px 40px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 3%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.438);
}

.course-card:hover {
  background-color: rgba(83, 153, 199, 0.558);
  transform: scale(1.05);
}

.course-detail {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.524);
}

.info-box {
  background-color: rgba(83, 153, 199, 0.411);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.section {
  margin-top: 20px;
}

.videos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.files a {
  background-color: rgba(83, 153, 199, 0.411);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: flex;
}


/* --------------------------header---------------------------- */

header {
    height: 10%;
    width: 100vw;
    padding: 0 1rem;
    background-color: #fafaff;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(54, 115, 201, 0.825);
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.6875rem;
    font-weight: 600;
    color: rgba(54, 115, 201, 0.825);
}


.message .logout-icn {
    height: 6rem;
    /* position: relative;
    left: -3%;
    top: -100%; */
    margin-left: -4%;
    margin-top: -0.2%;
}


.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
  position: absolute;
  left: 40%;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 6rem;
}

.searchbar input {
    width: 90%;
    height: 2.8125rem;
    border-radius: 0 50px 50px 0;
    background-color: #ededed;
    padding: 0 1.25rem;
    font-size: 0.9375rem;
    outline: none;
    border: none;
}

.searchbtn {
    width: 3.125rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    background-color: #ededed;
    cursor: pointer;
}

.message {
    gap: 2.5rem;
    position: absolute;
    left: -59%;
    cursor: pointer;
}

.dpicn {
  width: 4%;
  height: 4%;
  margin-left: -100%;
}

.srchicn {
  height: 1.3rem;
}


/* -------------about us styles------------------ */

.aboutUS {
  text-decoration: none;
  position: absolute;
  left: 25%;
  top: 26%;
  background-color: #5882b4;
  padding: 9px;
  border-radius: 20%;
  color: white;
}

.aboutUS:hover {
  background-color: #75a4df;
}