
.request-form {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 3%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.555);
}

.request-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.request-form input[type="text"],
.request-form textarea,
.request-form input[type="file"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.request-form button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgb(0, 110, 255);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.request-table th,
.request-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.request-table th {
  background-color: #e0e7ff;
}

.request-table button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}





.main {
  flex: 1;
  padding: 30px;
}

form input, form textarea {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
  text-align: center;
}

.status-unchecked {
  color: red;
}

.status-checked {
  color: green;
}

button {
  padding: 5px 10px;
  margin: 5px;
}


.file-display {
  font-weight: bold;
  color: #4f46e5;
}

.container2 {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 30px;
  margin-top: 5%;
}

.main-content h1 {
  font-size: 28px;
}




/* --------------------------------------- */

body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #5882b4;
  color: white;
  padding: 20px;
  width: 210px;
  height: 60%;
  border-radius: 10%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 10%;
  margin-right: 2%;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 30%;
}

.sidebar .sidebarLine {
  width: 100%;
  height: 4.2px;
  background-color: white;
  margin-top: -15%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 13% 0;
  cursor: pointer;
  border: 5px solid transparent; 
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar li:hover {
  background-color: whitesmoke;
  border-radius: 10%;
  color: #5882b4;
}

.sidebar li:hover a {
  color: #5882b4;
}



/* --------------------------header---------------------------- */

header {
    height: 10%;
    width: 100vw;
    padding: 0 1rem;
    background-color: #fafaff;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(54, 115, 201, 0.825);
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.6875rem;
    font-weight: 600;
    color: rgba(54, 115, 201, 0.825);
}


.message .logout-icn {
    height: 6rem;
    /* position: relative;
    left: -3%;
    top: -100%; */
    margin-left: -4%;
    margin-top: -0.2%;
}


.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
  position: absolute;
  left: 40%;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 6rem;
}

.searchbar input {
    width: 90%;
    height: 2.8125rem;
    border-radius: 0 50px 50px 0;
    background-color: #ededed;
    padding: 0 1.25rem;
    font-size: 0.9375rem;
    outline: none;
    border: none;
}

.searchbtn {
    width: 3.125rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    background-color: #ededed;
    cursor: pointer;
}

.message {
    gap: 2.5rem;
    position: absolute;
    left: -59%;
    cursor: pointer;
}

.dpicn {
  width: 4%;
  height: 4%;
  margin-left: -100%;
}

.srchicn {
  height: 1.3rem;
}

.menu-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
  /* فقط در موبایل و تبلت نمایش داده می‌شود */
}

/* -------------about us styles------------------ */

.aboutUS {
  text-decoration: none;
  position: absolute;
  left: 25%;
  top: 26%;
  background-color: #5882b4;
  padding: 9px;
  border-radius: 20%;
  color: white;
}

.aboutUS:hover {
  background-color: #75a4df;
}





/* -------------------- موبایل -------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  /* ---------header and sidebar------------*/
  header {
    justify-content: space-between;
    padding: 0 1rem;
    height: auto;
  }

  .logo {
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: -36%;
  }

  .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout-icn {
    display: none;
  }

  .dp {
    width: 40%;
    height: 40%;
  }

  .dpicn {
    width: 35%;
    height: 35%;
    margin-right: 70%;
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .aboutUS {
    margin-top: 0%;
    padding: 2px;
    font-size: small;
  }


  .menu-toggle {
    display: block;
    width: 18px;
    height: 18px;
  }

  .searchbar {
    display: none;
  }

  .message {
    position: static;
    margin-left: 0;
    width: 40%;
    gap: 0;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 220px;
    margin: 0;
    border-radius: 0;
    padding-top: 70px;
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    background: #5882b4;
  }

  .sidebar.active {
    display: block;
  }


  /* ---------------- */


}



/* -------------------- تبلت -------------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    padding: 0 2rem;
  }

  .menu-toggle {
    display: block;
  }

  .searchbar {
    left: 30%;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    margin: 0;
    border-radius: 0;
    padding-top: 80px;
    z-index: 200;
    transition: transform 0.3s ease-in-out;
    background: #5882b4;
  }

  .sidebar.active {
    display: block;
  }
}

